<label>Server Name</label>
<!--<input type="text" class="form-control" (input)="onUpdateServerName($event)" />-->
<input type="text" class="form-control" [(ngModel)]="serverName" />
<hr />
<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">Add</button>
<hr />
<!--<p>{{serverCreationStatus}}</p>-->
<p *ngIf="serverCreated">{{serverCreationStatus}}</p>
<!--<ng-template #noServer>
  <p>no srv created</p>
</ng-template>-->
<app-server *ngFor="let srv of this.servers"></app-server>
